---
layout: oclareBase.njk
title: Home
---
<!-- Top Row -->
{% include "partials/header.njk" %}
<div id="top-row">    
    <!-- Placeholder image -->
    <div class="col-md-3 hidden-sm hidden-xs">
        <!-- TODO: Fix image layout -->
        <div class="media"  id="header-image">
            <img src="{{ image }}" class="img-fluid" alt="Student Chemist">
        </div>
    </div>
</div>
<!--About\News-->
<div class="oclare-background-default margin-y-sm" id="home-body">
    <div class="col-md-7">
        <!--About OCLaRE-->
        <div class="container-fluid padding-y-sm  oclare-background-color-5">
            <p class="text-justify">
                {{ content | safe }}
            </p>
            <div class="read-more">
                {# <a href="#">read more...</a> #}
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12">
        <!--News/Articles-->
        {% include "partials/recentArticles.njk" %}
    </div>
</div>
