<!--News/Articles-->
<h2 class="oclare-color-1">Recent News</h2>
<!--News Header-->
<!--Articles-->
<div id="articles">
<!--ForEach Article (Latest 3)-->
{%- for post in collections.post|reverse -%}
{% if loop.index0 < 3 %}                                
    <a href="{{ post.url }}">
        <div class="padding-sm article-div">
            <div class="col-xs-12 col-lg-12 padding-x-xs">
                <h4 class="oclare-color-1"><em>{{ post.data.title }}</em></h4>
            </div>
            <div id="article-image">                    
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <img src=
                    {% if post.data.image == '' %}
                        "/pub-static/images/cms/ArticlePlaceholder.jpg"            
                    {% else %}
                        "{{ post.data.image }}"
                    {% endif %} class="media-object article-card">
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 read-more padding-0">
                    <p>Read More...</p>
                </div>                 
            </div>                                        
        </div>
    </a>
{% endif %}
{%- endfor -%}        
</div>
<div class="row flex-row" id="see-all">
    <a class="oclare-color-1" href="/archive/"><h4><em><strong>View More</strong></em></h4></a>
</div>